<% include partials/head_btitle %>
    <title>YelpCamp | <%= campground.title %> | Kaylen Travis Pillay</title>
<% include partials/head_atitle %>

<h1><%= campground.title %></h1>
<img src="<%= campground.image %>" alt="<%= campground.title %>">
<p><%= campground.description %></p>
<% include partials/footer %>